h1 {
    color: blue;
}

body {
    margin: 0 auto;
}



h1 {
    text-align: center;
}

<<<<<<< HEAD
.lost {
  border: 2px solid black;
  box-shadow: 2px 2px 2px yellow;
}

=======
#playButton {
    visibility: hidden;
}
>>>>>>> wonRound
